html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  margin-top: 0;
}
p {
  color: #666666;
  font-size: 18px;
  line-height: 2em;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.wp-block-image .aligncenter {
  margin: 0;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}

/* Other styles */

section {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff; */
}
/* section:nth-child(odd) {
   background-color: #dddddd;
}*/

.container {
  width: 80%;
  margin: auto;
  position: relative;
}

.logo_container {
  position: fixed !important;
  top: 10px;
  z-index: 100;
  left: 10px;
  width: auto !important;
  height: 100px !important;
}
.logo_container img {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 100px;
}

#logo {
  background-color: #ffffff;
  padding: 30px 30px;
  border-radius: 100px;
  max-height: none !important;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#logo:hover {
  transform: scale(1.05);
}
.supershadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03),
    0 16px 16px rgba(0, 0, 0, 0.03);
}
#main_nav {
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54),
    border-radius 0.8s ease-in-out;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54),
    border-radius 0.4s ease-in-out;
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54),
    border-radius 0.4s ease-in-out;
  transform: scale(0) translateY(80px);
  position: fixed;
  opacity: 0;
  z-index: 99999;
  background-color: #fff;
  border-radius: 100px;
  width: 30% !important;
  left: 35%;
  top: 35%;
  text-align: center;
}
#main_nav.active {
  visibility: visible;
  transform: scale(1) translateY(0px);

  opacity: 1;
  border-radius: 40px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54),
    border-radius 0.8s ease-in-out;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54),
    border-radius 0.4s ease-in-out;
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54),
    border-radius 0.4s ease-in-out;
}

.overlayer_menu {
  width: 0%;
  height: 0%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99998;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
  -moz-transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
  -o-transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
  transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
}
.overlayer_menu.active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.search-overlay {
  width: 0%;
  height: 0%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99998;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
  -moz-transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
  -o-transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
  transition: opacity 0.5s ease-out, width 0.01s 0.5s, height 0.01s 0.5s;
}
.search-overlay.active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.search-top {
  margin-top: 100px;
  position: relative;
  float: left;
  width: 100%;
}
.search-top i {
  font-size: 24px;
  color: #ffffff;
}
.search-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-top input[type="text"] {
  width: calc(100% - 30px);
  margin-top: 20px;
}
#search-results {
  margin-top: 40px;
  color: #ffffff;
}
.spinner {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* end spinner */
.no_scrolling {
  overflow: hidden;
}
.hider8 {
  position: relative;
  float: left;
}
#main_nav li a {
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 0px;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  float: left;
  width: 100%;
}
#main_nav li:first-child a {
  -webkit-border-top-left-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
}

#main_nav li:last-child a {
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-bottom: 20px;
}
#main_nav li a {
  color: #111111;
}
.home .et_pb_portfolio .project {
  display: grid;
  grid-template-areas:
    "grimage grimage . ."
    "grimage grimage grname grname"
    "grimage grimage grcats grcats";
  grid-column-gap: 40px;
  grid-template-columns: 20% 20% 40% auto;
  margin-bottom: 120px;
}
.home .et_pb_portfolio .project a:first-child {
  grid-area: grimage;
}
.home .et_pb_portfolio .project:nth-child(even) {
  transform: translateX(100px);
}
.home .et_pb_portfolio .project .et_pb_module_header {
  grid-area: grname;
  font-size: 36px;
}
.home .et_pb_portfolio .project .post-meta {
  grid-area: grcats;
  font-weight: 700;
  font-size: 20px;
}
#slider-19-slide-55-layer-0 .rs_splitted_words div {
  text-shadow: 1px -1px 0px #ffffff, 2px -2px 0px #ffffff, 2px -3px 0px #ffffff;
}
.btn-6 {
  color: #282828 !important;
  z-index: 99;
  position: relative;
  display: block;
  overflow: hidden;
  /* width: 100%;
    height: 100px;
      line-height: 40px;
    max-width: 4000px;
    /*padding: 30px;*/
  /*  margin: 1rem auto;*/
  font-family: Roboto !important;
  box-sizing: border-box;
  text-align: center;

  transition: all 0.4s ease-in-out;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #3751b3d1;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
    opacity 0.5s ease-in;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-box-shadow: 0px 0px 32px 14px rgba(55, 81, 179, 1);
  -moz-box-shadow: 0px 0px 32px 14px rgba(55, 81, 179, 1);
  box-shadow: 0px 0px 32px 14px rgba(55, 81, 179, 1);
}
.btn-6:hover {
  color: #ffffff !important;
  background-color: #3751b3d1 !important;
}

.btn-6 a {
  color: #282828 !important;
}
.btn-6:hover a {
  color: #e6e6e6 !important;
}
.btn-6:hover span {
  width: 1000px;
  height: 1000px;
  opacity: 1;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
    opacity 0.2s ease-in;
}
.btn-6:active {
  background-color: #9a713f;
}

#responsive-menu-container {
  z-index: 99999 !important;
}
/* Contact Form */

input.text,
input.title,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #000000 !important;
  margin-bottom: 10px;
  border: solid 1px #0d3c98;
  background-color: #ffffff;
  border-radius: 28px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */

  color: #000000 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */

  color: #000000 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */

  color: #000000 !important;
}
.wpcf7-submit {
  border: 0px solid #fff;
  color: #ffffff !important;
  width: 100%;
  background-color: #0d3c98;
  cursor: pointer;
  padding: 26px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  position: relative;
  float: left;
  border-radius: 100px;
}
.wpcf7-submit:hover {
  background-color: rgba(30, 30, 30, 0.6);
  color: #fff;
}
.wpcf7-recaptcha {
  position: relative;
  float: left;
}
.one-half,
.one-third {
  position: relative;
  margin-right: 4%;
  float: left;
  margin-bottom: 20px;
}
.one-half {
  width: 48%;
}

.one-third {
  width: 30.66%;
}

.last {
  margin-right: 0 !important;
  clear: right;
}

div.wpcf7-mail-sent-ok {
  border: 2px solid #024e49;
  background-color: #007069;
  color: #fff;
  position: relative;
  float: right;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
/* END Contact Form */
#scrollera .et_pb_bottom_inside_divider {
  background-image: url("http://www.potapov.io/wp-content/uploads/2019/10/round-bg-shaded2.png") !important;
  background-position: bottom;
}

.websitelink {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 100px;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  position: relative;
  float: left;
  background-color: #ffffff;
}
.fp-table {
  background-size: cover;
}
.fp-table .wp-image-4765 {
  opacity: 0;
  transition: all 0.8s ease-out 0s;
  transform: translateX(100px);
  position: relative;
  border-radius: 300px;
}
.fp-table.active .wp-image-4765 {
  transition: all 0.8s ease-out 0.5s;
  transform: translateX(0px);
  opacity: 1;
}
.left_home_ntr {
}

.left_home_ntr h2 {
  opacity: 0;
  transition: all 0.8s ease-out 0s;

  transform: translateX(-60px);
  position: relative;
}
.fp-table.active .left_home_ntr h2 {
  transition: all 0.8s ease-out 0.2s;

  transform: translateX(0px);
  opacity: 1;
}
.left_home_ntr h3 {
  opacity: 0;
  transition: all 0.8s ease-out 0s;

  transform: translateX(-30px);
  position: relative;
}
.fp-table.active .left_home_ntr h3 {
  transition: all 0.8s ease-out 0.7s;

  transform: translateX(0px);
  opacity: 1;
}
.left_home_ntr p {
  opacity: 0;
  transition: all 0.8s ease-out 0s;

  transform: translateY(10px);
  position: relative;
}
.fp-table.active .left_home_ntr p {
  transition: all 0.8s ease-out 1.2s;

  transform: translateY(0px);
  opacity: 1;
}
// Porfolio Animation
.project_summary {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  transition: all 0.5s ease-out 0s;
  transform: rotateX(0deg) rotateY(0deg) rotate(0deg) translate(1px, -40px);
  opacity: 0;
  align-items: center;
  z-index: 200;
  border-radius: 50px;
  perspective: 1000px;
}
.project_summary .main_image {
  flex-basis: 30%;
  position: relative;
}
.project_summary .main_image img {
  padding: 0 60px 120px;
  width: 100%;
  height: auto;
}
section:nth-child(even) .project_summary {
  transform: translate(100px, -40px);
}
.fp-table.active .project_summary {
  transition: all 0.5s ease-out 0.5s;
  transform: rotateX(-5deg) rotateY(8deg) rotate(0deg) translate(1px, -40px);
  opacity: 1;
  box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.75),
    -2px -2px 0px 0px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(0, 0, 0, 0.03),
    0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03),
    0 8px 8px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.03);
}
.project_summary .description {
  background-color: #fff;
  transform: rotateX(0deg) rotateY(0deg) rotate(1deg) translateX(20%) scale(1);
  opacity: 0;
  padding: 40px;
  flex-basis: 55%;
  transition: all 0.5s ease-out 0s;
  border-radius: 40px;
  box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.75),
    2px -2px 0px 0px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(0, 0, 0, 0.03),
    0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03),
    0 8px 8px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.03);
}
.fp-table.active .project_summary .description {
  transform: rotateX(0deg) rotateY(-3deg) rotate(2deg) translateX(20%) scale(1);
  opacity: 1;
  transition: all 0.5s ease-out 1.2s;
}
.fp-table.active .project_summary .description:hover {
  transform: rotateX(0deg) rotateY(0) rotate(1deg) translateX(20%) scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03),
    0 16px 16px rgba(0, 0, 0, 0.03);
  transition: all 0.5s ease-out 0s;
}
.project_summary button {
  padding: 30px;
  border-radius: 100px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.project_summary .description h3 {
  color: #333333;
}
.fp-table .fadeInScreen {
  background-color: #ffffff;
  transition: all 0.2s ease-out 0s;
  opacity: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.fp-table.active .fadeInScreen {
  opacity: 0.7;
  transition: all 0.5s ease-out 1.8s;
}
.fp-table .additional_images_holder {
  opacity: 0;
  position: absolute;
  bottom: 100px;
  padding: 40px;
  width: 100%;
  transition: all 0.5s ease-out 0s;
}
.fp-table.active .additional_images_holder {
  opacity: 1;
  transition: all 0.5s ease-out 1.8s;
}

.fp-table .thePhone {
  width: 130px;
  position: absolute;
  top: 0;
  right: 0;
  perspective: 1000px;
}
.fp-table .thePhone img {
  padding: 0;
}
.theScreen {
  overflow: hidden;
  position: absolute;
}
.fp-table .thePhone .theScreen {
  top: 29px;
  width: 86%;
  margin: 0 7%;
  height: 200px;
  border-radius: 2px;
}
.fp-table .theLaptop {
  width: 371px;
  height: 193px;
  position: absolute;
  top: 12px;
  left: -11%;
  perspective: 1000px;
}
.fp-table .theLaptop .theScreen {
  width: 229px;
  left: 25px;
  top: 15px;
  height: 156px;
  transform: rotateX(19deg) rotateY(18deg) rotate(351deg);
}
.fp-table .theLaptop .theScreen img {
  padding: 0 !important;
}
.laptop_frame {
  padding: 0 !important;
  position: relative;
  z-index: 77;
}
/* NEW MENU BUTTON */

.header_button {
  background: #cccccc;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99998;
  border-radius: 100px;
  height: 80px;
}
.ntr-search {
  position: relative;
  float: left;
  line-height: 80px;
  font-size: 18px;
  padding: 0 10px;
  z-index: 999;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54);
  cursor: pointer;
}
.ntr-search:hover {
  padding: 0 24px 0 30px;
  font-size: 24px;
}
.button_for_menu {
  display: inline-block;
  width: 167px;
  height: 80px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 30px 30px;
  border-radius: 100px;
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.button_for_menu .line_z {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 4px;
  color: #000000;
  background: #000000;
  transition: all 0.2s ease-out 0.2s;
  margin-left: 20px;
  top: -4px;
}
.button_for_menu .line_z:before,
.button_for_menu .line_z:after {
  content: "";
  width: 25px;
  height: 4px;
  background: #000000;
  position: absolute;
  left: 0;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.71, 1.54);
}
.button_for_menu .line_z:before {
  top: -8px;
}
.button_for_menu .line_z:after {
  bottom: -8px;
}
.button_for_menu.active .line_z {
  background: transparent !important;
}
.button_for_menu.active .line_z:before {
  top: 0;
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}
.button_for_menu.active .line_z:after {
  bottom: 0;
  -webkit-transform: rotateZ(-225deg);
  transform: rotateZ(-225deg);
}
.button_for_menu:hover .line_z,
.button_for_menu:hover .line_z:before,
.button_for_menu:hover .line_z:after {
  color: #ffffff;
  background: #ffffff;
}
/* end new menu button */
#menu-new-main-nav {
  margin-top: 0;
  padding: 0;
  display: inline;
  list-style: none;
}
#menu-new-main-nav li {
  position: relative;
}
// AANCHOR BUTTONS

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
#fp-nav.right {
  right: 17px;
}
#fp-nav.left {
  left: 17px;
}
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}
.fp-slidesNav.bottom {
  bottom: 17px;
}
.fp-slidesNav.top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}
// END ANCHOR BUTTONS

.fp-tableCell {
  display: flex;
  width: 100%;
}
.wp-block-columns {
  margin-bottom: 0 !important;
}
// PROJECT PAGE STYLES
.clearfix {
  clear: both;
}
#page_header {
  position: relative;
  float: left;
  width: 100%;
  padding: 120px 0;
  color: #ffffff;
  border-bottom-right-radius: 40px;
}

.container {
  max-width: 1080px;
}
.project-template-default .first_proj_image {
  transform: translateY(-340px);
}
.wp-block-image {
  margin: 0;
}
.wp-block-column:not(:first-child) {
}
.project-template-default .left_top_corner {
  position: absolute;
  height: 100px;
  width: 100px;
}
.project-template-default .left_top_corner .filler {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-top-left-radius: 40px;
}
.project-template-default .project-main-image {
  width: 100%;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 781px) {
  .wp-block-column {
    flex-basis: 100% !important;
    flex-grow: 1;
  }
  #main_nav {
    left: 5%;
    top: 25%;
    width: 90% !important;
  }
  .home .et_pb_portfolio .project {
    grid-template-areas:
      "grimage grimage grimage grimage"
      "grimage grimage grimage grimage"
      "grimage grimage grimage grimage"
      "grname grname grname grname"
      "grcats grcats grcats grcats";

    grid-row-gap: 4px;
    grid-column-gap: 0px;
    grid-template-columns: 20% 20% 40% auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .button_for_menu {
    width: 96px !important;
  }
  .line_z {
    margin-left: -2px !important;
  }
  .hider8 {
    display: none;
  }
}

@media (max-width: 350px) {
}
